interval = 3600
token = ""

[[triggers]]
target_repo = "user/repo"
workflow_repo = "your_username/your_repo"
workflow_id = "build.yaml"
workflow_ref = "main"

[[triggers]]
target_repo = "user/repo1"
workflow_repo = "your_username/your_repo1"
workflow_id = "ci.yaml"
